<%     
  quotes = [
    {
      :content => "If you want to lift yourself up, lift up someone else.",
      :author => "Book T Washington"
    },
    {
      :content => "I think one of the greatest feelings in the world is when someone openly tells you how much you mean to them."
    },
    {
      :content => "Don’t run away from heavy emotions, honor the anger, give pain the space it needs to breathe - this is how we let go.",
      :author => "Yung Pueblo"
    },
    {
      :content => "It’s easier to build strong children, than to repair broken men."
    },
    {
      :content => "Sometimes when you’re in a dark place you think you’ve been buried, but you’ve actually been planted."
    }
  ]

  tips = [
    {
      :title => "7 Ways To Improve Mental Health",
      :content => ["Eat well", "Rest well", "Exercise", "Spend time with family", "Talk about your feelings with someone you trust","Remember your hobbies","Relax - make time for yourself"]
    }
  ]

  external_links = [
    {
      :type => "Men's Movements",
      :title => "Movember",
      :link => "https://au.movember.com/"  
    },

    {
      :type => "Men's Support Services",
      :title => "Beyond Blue",
      :link => "https://www.beyondblue.org.au/"
    },

    {
      :type => "Men's Support Services",
      :title => "Men's Line",
      :link => "https://mensline.org.au/"  
    },

    {
      :type => "Apps",
      :title => "Apps to Support Your Health",
      :link => "https://au.reachout.com/tools-and-apps"
    },

    { 
      :type => "News Stories",
      :title => "Breakfast with Dads - How 600 volunteers stood in for 50 absent fathers",
      :link => "https://www.menshealth.com/trending-news/a19546345/600-men-stand-for-absent-fathers-dallas-middle-school/"
    },

    {
      :type => "News Stories",
      :title => "Why Triple M’s Gus Worland started Gotcha4Life to Raise Men’s Mental Health Awareness",
      :link => "https://www.news.com.au/lifestyle/health/mind/the-moment-that-shocked-triple-m-host-gus-worland/news-story/9258843fcb7b12e635a25169a4b73e47"
    }
  ]

%>


<h3> MEN'S TEAM - RESOURCES</h3>

<div class="resources-container">
  <%# renders quotes %>
  <% quotes.each_with_index do | quote, idx | %>
    <article class="quote" id="quote-<%= idx+1 %>">
      <p> <%= quote[:content] %> </p>
      <% if quote[:author] %>
        <p>-<%= quote[:author] %></p>
      <% end %>
    </article>
  <% end %>


  <%# render tips %>
  <% tips.each_with_index do | tip, idx | %>
    <article class="tip" id="tip-<%= idx+1 %>">
      <h4> <%= tip[:title] %> </h4>
      <% tip[:content].each_with_index do |item, idx| %>
          <p> <%= idx+1 %>. <%= item %> </p>
      <% end %>
    </article>
  <% end %>

  <%# render external links %>
  <% external_links.each_with_index do | link, idx | %>
    <article class="external-link" id="link-<%= idx+1 %>">
      <h4> <%= link[:type]%> </h4>
      <a href="<%=link[:link]%>"><%= link[:title]%> </a>
    
    </article>

  <% end %>


  <%# render centering statement %>
  <article class="centering-statement" id="centering-stmnt">
    <h4>Centering Statement</h4>
    <p>
      We have come together in this sacred circle to listen, to speak up and respect each others
      point of view. To honour our past and present actions, our fears, our thoughts and feelings
      in confidentiality.
    </p>
    <p>
      We have come together to share and celebrate one another's victories, to bring comfort in
      defeat and to give voice and witness to our hopes and dreams for the future- may we learn
      from them and each other- moving forward with the team's support- always with dignity
      and without judgement.
    </p>
    <p>
      It is the intention of this team to be as open and honest with ourselves and each other as
      possible. That we may inspire one another to find joy in our lives and create strong
      foundations for a better tomorrow.
    </p>
    <p>
      It is our intention to heal ourselves and in doing so create community where men can be
      trusted. Where our sisterhood, our brotherhood, our children and our parents can
      confidently rely upon us.
    </p>
    <p>
      It is the intention of each member of this team to
      be present with our emotions,
      to be conscious with our words,
      to be ready with our strength to assist those in need.
    </p>
    <p>That we may all live to our fullest potential</p>

  </article>
</div>